<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}/about/">About</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/artificial-intelligence-basics/">AI Basics Series</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/ai-law-regulations/">Legal Anaylsis</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
